In [30]:
import pandas as pd
import numpy as np
from faker import Faker

# Configuração
np.random.seed(42)
fake = Faker('pt_BR')

# Criando DataFrame com 1,000 registros
data = {
    'ID_Pedido': range(1001, 2001),
    'Cliente': [fake.name() for _ in range(1000)],
    'Produto': np.random.choice(['Smartphone', 'Notebook', 'Tablet', 'Fone Bluetooth', 'Smartwatch', 'Câmera'], 1000),
    'Preço': np.round(np.random.uniform(100, 5000, 1000), 2),
    'Quantidade': np.random.randint(1, 10, 1000),
    'Data_Pedido': pd.date_range('2022-01-01', periods=1000, freq='D'),
    'Cidade': np.random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', None, 'Porto Alegre', 'Curitiba', 'Recife'], 1000),
    'Método_Pagamento': np.random.choice(['Cartão', 'Boleto', 'PIX', 'Cartão', None, 'Cartão', 'Boleto'], 1000),
    'Avaliação': np.random.choice([1, 2, 3, 4, 5, None, np.nan], 1000)
}

df = pd.DataFrame(data)

# Adicionando problemas intencionais
df.loc[np.random.choice(df.index, 50), 'Preço'] = 0
df.loc[np.random.choice(df.index, 30), 'Quantidade'] = -1
df.loc[np.random.choice(df.index, 20), 'Cliente'] = 'N/A'
df.loc[np.random.choice(df.index, 40), 'Produto'] = '  '
df.loc[np.random.choice(df.index, 60), 'Método_Pagamento'] = 'Crediário'  # Valor inválido

df

,ID_Pedido,Cliente,Produto,Preço,Quantidade,Data_Pedido,Cidade,Método_Pagamento,Avaliação
0,1001,Sr. Theo Novaes,Fone Bluetooth,598.73,6,2022-01-01,Belo Horizonte,None,2
1,1002,Rael Rios,Smartwatch,849.01,5,2022-01-02,São Paulo,Boleto,5
2,1003,Ryan Moura,Tablet,1305.19,4,2022-01-03,None,Cartão,5
3,1004,Maria Isis Cardoso,Smartwatch,887.34,1,2022-01-04,São Paulo,Cartão,5
4,1005,Dom Aparecida,Smartwatch,1014.18,6,2022-01-05,Porto Alegre,Boleto,NaN
...,...,...,...,...,...,...,...,...,...
995,1996,Lucas Nascimento,Câmera,2291.29,8,2024-09-22,Curitiba,Boleto,None
996,1997,Arthur Miguel Mendonça,Smartwatch,3042.91,1,2024-09-23,Rio de Janeiro,PIX,3
997,1998,Fernando Fernandes,Smartphone,2626.83,8,2024-09-24,Belo Horizonte,Boleto,None
998,1999,Sra. Milena Nogueira,Smartphone,4605.02,7,2024-09-25,None,Cartão,4
999,2000,Sr. Thomas Cavalcanti,Smartwatch,2535.12,7,2024-09-26,Belo Horizonte,Cartão,1

Identificação de Valores Ausentes

    Conte quantos valores nulos existem em cada coluna

    Mostre as linhas que têm valores nulos na coluna 'Cidade'

In [24]:
df.isna().sum()

ID_Pedido             0
Cliente               0
Produto               0
Preço                 0
Quantidade            0
Data_Pedido           0
Cidade              149
Método_Pagamento    147
Avaliação           295
dtype: int64

In [25]:
df[df["Cidade"].isna()]

,ID_Pedido,Cliente,Produto,Preço,Quantidade,Data_Pedido,Cidade,Método_Pagamento,Avaliação
2,1003,Valentim Machado,Tablet,1305.19,4,2022-01-03,None,Cartão,5
10,1011,Raul Brito,Fone Bluetooth,0.00,7,2022-01-11,None,PIX,5
14,1015,Bernardo da Paz,Notebook,4850.41,3,2022-01-15,None,Cartão,1
23,1024,Melina Caldeira,Notebook,1471.90,9,2022-01-24,None,Cartão,3
31,1032,Benjamin Rezende,Notebook,3092.04,3,2022-02-01,None,Cartão,4
...,...,...,...,...,...,...,...,...,...
972,1973,Bruno Martins,Smartphone,0.00,1,2024-08-30,None,Boleto,NaN
976,1977,Danilo da Paz,Smartphone,2745.79,6,2024-09-03,None,PIX,4
980,1981,Ravi Lucca da Mata,Câmera,536.71,2,2024-09-07,None,Cartão,5
984,1985,Giovanna Camargo,Tablet,3931.94,6,2024-09-11,None,Cartão,3
998,1999,Rael Ribeiro,Smartphone,4605.02,7,2024-09-25,None,Cartão,4

Remoção de Duplicatas

    Verifique se existem pedidos duplicados (mesmo ID_Pedido)

    Remova as linhas completamente duplicadas (todas as colunas iguais)

In [26]:
df['ID_Pedido'].duplicated().value_counts()

ID_Pedido
False    1000
Name: count, dtype: int64

In [27]:
df.drop_duplicates(inplace=True)

Correção Simples

    Substitua todos os valores 'N/A' na coluna 'Cliente' por 'Não Informado'

    Substitua os valores de espaço em branco (' ') na coluna 'Produto' por np.nan

In [49]:
df.replace('N/A','Não Informado',inplace=True)
df[df['Cliente'] == 'Não Informado']

,ID_Pedido,Cliente,Produto,Preço,Quantidade,Data_Pedido,Cidade,Método_Pagamento,Avaliação
30,1031,Não Informado,Tablet,662.70,3,2022-01-31,Curitiba,Cartão,NaN
38,1039,Não Informado,Fone Bluetooth,1749.36,5,2022-02-08,Belo Horizonte,Boleto,4.0
65,1066,Não Informado,Fone Bluetooth,901.91,7,2022-03-07,Recife,Cartão,NaN
107,1108,Não Informado,Tablet,4247.62,1,2022-04-18,Rio de Janeiro,Cartão,NaN
186,1187,Não Informado,Smartwatch,428.67,9,2022-07-06,Curitiba,Cartão,4.0
202,1203,Não Informado,Smartphone,860.68,9,2022-07-22,Recife,Boleto,2.0
259,1260,Não Informado,Smartphone,4019.29,-1,2022-09-17,Porto Alegre,Boleto,NaN
277,1278,Não Informado,Notebook,0.00,7,2022-10-05,None,None,NaN
303,1304,Não Informado,Smartphone,1555.90,3,2022-10-31,Curitiba,Cartão,2.0
420,1421,Não Informado,Câmera,4729.19,3,2023-02-25,Curitiba,Crediário,3.0
488,1489,Não Informado,Smartwatch,3517.61,7,2023-05-04,Belo Horizonte,Cartão,4.0
528,1529,Não Informado,Smartphone,1794.83,7,2023-06-13,Belo Horizonte,Boleto,NaN
541,1542,Não Informado,NaN,3875.00,4,2023-06-26,Belo Horizonte,PIX,NaN
550,1551,Não Informado,Smartphone,3499.04,3,2023-07-05,Porto Alegre,PIX,NaN
643,1644,Não Informado,Câmera,0.00,8,2023-10-06,Porto Alegre,Cartão,4.0
669,1670,Não Informado,Smartwatch,4982.04,4,2023-11-01,None,PIX,3.0
762,1763,Não Informado,Tablet,124.21,1,2024-02-02,São Paulo,Crediário,4.0
941,1942,Não Informado,Câmera,2643.39,8,2024-07-30,Belo Horizonte,Boleto,NaN
943,1944,Não Informado,Smartwatch,4021.75,9,2024-08-01,São Paulo,Boleto,NaN
985,1986,Não Informado,Notebook,3572.85,5,2024-09-12,São Paulo,Cartão,NaN

In [50]:
df.replace('  ',np.nan,inplace=True)
df[df['Produto'].isna()]

,ID_Pedido,Cliente,Produto,Preço,Quantidade,Data_Pedido,Cidade,Método_Pagamento,Avaliação
18,1019,Otto Cunha,NaN,937.35,2,2022-01-19,Recife,Boleto,1.0
32,1033,Ravi Teixeira,NaN,1514.29,9,2022-02-02,Porto Alegre,Cartão,2.0
43,1044,Kaique Cavalcanti,NaN,4068.38,4,2022-02-13,Rio de Janeiro,PIX,4.0
89,1090,Dr. Mateus Albuquerque,NaN,1741.04,7,2022-03-31,Curitiba,Cartão,4.0
100,1101,José Pedro Melo,NaN,264.31,5,2022-04-11,Curitiba,Boleto,4.0
154,1155,Luna da Cunha,NaN,368.33,1,2022-06-04,Porto Alegre,Boleto,4.0
221,1222,Helena Sousa,NaN,974.87,5,2022-08-10,Belo Horizonte,PIX,1.0
228,1229,Miguel da Mota,NaN,4168.08,6,2022-08-17,Porto Alegre,Cartão,5.0
252,1253,Laís Dias,NaN,1542.88,1,2022-09-10,São Paulo,PIX,5.0
254,1255,Erick Machado,NaN,3841.67,3,2022-09-12,Curitiba,Boleto,NaN
256,1257,André Peixoto,NaN,4355.49,4,2022-09-14,Porto Alegre,Boleto,3.0
267,1268,Maria Sophia Sá,NaN,4191.16,4,2022-09-25,São Paulo,Boleto,1.0
356,1357,Srta. Allana Dias,NaN,3517.36,5,2022-12-23,Belo Horizonte,None,5.0
382,1383,Jade Dias,NaN,1241.50,6,2023-01-18,Belo Horizonte,Crediário,2.0
389,1390,Sr. Vitor Fonseca,NaN,4014.04,6,2023-01-25,None,Boleto,3.0
422,1423,Ana Luiza Sales,NaN,3105.72,5,2023-02-27,Curitiba,Cartão,1.0
441,1442,Allana Sales,NaN,952.09,1,2023-03-18,Belo Horizonte,PIX,2.0
454,1455,José Miguel da Luz,NaN,1401.44,3,2023-03-31,None,Cartão,2.0
523,1524,Ester Ramos,NaN,432.40,6,2023-06-08,Rio de Janeiro,PIX,5.0
529,1530,Cecília Cassiano,NaN,3142.49,5,2023-06-14,Rio de Janeiro,PIX,NaN
541,1542,Não Informado,NaN,3875.00,4,2023-06-26,Belo Horizonte,PIX,NaN
581,1582,Dra. Maya Teixeira,NaN,3168.48,8,2023-08-05,None,Cartão,NaN
597,1598,Yasmin Siqueira,NaN,4008.04,5,2023-08-21,Rio de Janeiro,Cartão,NaN
598,1599,Lucca Campos,NaN,1620.77,5,2023-08-22,Porto Alegre,Cartão,NaN
606,1607,Josué Guerra,NaN,3505.41,3,2023-08-30,Rio de Janeiro,Crediário,2.0
629,1630,João Pedro Montenegro,NaN,3478.38,3,2023-09-22,None,Boleto,2.0
663,1664,Gael Garcia,NaN,3969.52,1,2023-10-26,None,Cartão,4.0
692,1693,Enzo Moreira,NaN,4513.44,3,2023-11-24,Recife,Cartão,1.0
711,1712,Benício Nunes,NaN,4366.67,7,2023-12-13,São Paulo,None,2.0
748,1749,Fernando Rios,NaN,1421.77,8,2024-01-19,Rio de Janeiro,Boleto,2.0
760,1761,Gustavo Araújo,NaN,4934.49,8,2024-01-31,São Paulo,Boleto,NaN
765,1766,Sra. Clarice da Luz,NaN,4352.80,8,2024-02-05,Porto Alegre,Boleto,5.0
803,1804,Gael Sales,NaN,2093.85,3,2024-03-14,Belo Horizonte,Boleto,4.0
857,1858,Cauã Novais,NaN,4678.74,8,2024-05-07,Belo Horizonte,Cartão,2.0
861,1862,Davi Lucca Câmara,NaN,1358.21,6,2024-05-11,Recife,PIX,1.0
904,1905,Luan Leão,NaN,3156.91,5,2024-06-23,Belo Horizonte,Boleto,2.0
913,1914,Lucca Garcia,NaN,3245.66,3,2024-07-02,Curitiba,Cartão,3.0
937,1938,Maria Julia Porto,NaN,1684.52,6,2024-07-26,Curitiba,Boleto,1.0
969,1970,Ravi da Luz,NaN,3997.70,4,2024-08-27,Curitiba,Cartão,4.0

Tratamento de Outliers

    Identifique pedidos com Quantidade negativa e corrija para valor absoluto

    Substitua os preços igual a zero pela mediana dos preços do mesmo produto

In [ ]:
df['Quantidade'] = df['Quantidade'].abs()
df[df['Quantidade'] < 0]

,ID_Pedido,Cliente,Produto,Preço,Quantidade,Data_Pedido,Cidade,Método_Pagamento,Avaliação
0,1001,Sr. Theo Novaes,Fone Bluetooth,598.73,6,2022-01-01,Belo Horizonte,None,2.0
1,1002,Rael Rios,Smartwatch,849.01,5,2022-01-02,São Paulo,Boleto,5.0
2,1003,Ryan Moura,Tablet,1305.19,4,2022-01-03,None,Cartão,5.0
3,1004,Maria Isis Cardoso,Smartwatch,887.34,1,2022-01-04,São Paulo,Cartão,5.0
4,1005,Dom Aparecida,Smartwatch,1014.18,6,2022-01-05,Porto Alegre,Boleto,NaN
...,...,...,...,...,...,...,...,...,...
995,1996,Lucas Nascimento,Câmera,2291.29,8,2024-09-22,Curitiba,Boleto,NaN
996,1997,Arthur Miguel Mendonça,Smartwatch,3042.91,1,2024-09-23,Rio de Janeiro,PIX,3.0
997,1998,Fernando Fernandes,Smartphone,2626.83,8,2024-09-24,Belo Horizonte,Boleto,NaN
998,1999,Sra. Milena Nogueira,Smartphone,4605.02,7,2024-09-25,None,Cartão,4.0
999,2000,Sr. Thomas Cavalcanti,Smartwatch,2535.12,7,2024-09-26,Belo Horizonte,Cartão,1.0

In [ ]:
medianas_por_produto = df[df['Preço'] > 0].groupby('Produto')['Preço'].median()
mascara_zero = df['Preço'] == 0
df.loc[mascara_zero, 'Preço'] = df[mascara_zero]['Produto'].map(medianas_por_produto)
(df['Preço'] == 0).value_counts()

Preço
False    1000
Name: count, dtype: int64

In [62]:
df.describe()

         ID_Pedido        Preço   Quantidade          Data_Pedido   Avaliação
count  1000.000000  1000.000000  1000.000000                 1000  705.000000
mean   1500.500000  2557.476480     4.861000  2023-05-15 12:00:00    3.083688
min    1001.000000   122.700000     1.000000  2022-01-01 00:00:00    1.000000
25%    1250.750000  1322.202500     3.000000  2022-09-07 18:00:00    2.000000
50%    1500.500000  2541.580000     5.000000  2023-05-15 12:00:00    3.000000
75%    1750.250000  3685.567500     7.000000  2024-01-20 06:00:00    4.000000
max    2000.000000  4997.130000     9.000000  2024-09-26 00:00:00    5.000000
std     288.819436  1384.470248     2.600854                  NaN    1.382758