In [ ]:
import pandas as pd
import numpy as np

file = 'Players.csv'
df = pd.read_csv(file)
df.head(5)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [6]:
df.columns

Index(['Unnamed: 0', 'Player', 'height', 'weight', 'collage', 'born',
       'birth_city', 'birth_state'],
      dtype='object')

In [8]:
df['birth_state'].value_counts()

birth_state
California                     344
New York                       290
Illinois                       209
Pennsylvania                   163
Ohio                           137
                              ...
United Republic of Tanzania      1
FYR Macedonia                    1
Tunisia                          1
Cape Verde                       1
Austria                          1
Name: count, Length: 128, dtype: int64

In [10]:
from_California = df['birth_state'] == "California"
from_California.value_counts()

birth_state
False    3578
True      344
Name: count, dtype: int64

In [11]:
df[from_California]

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
22,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California
50,50,Bob Feerick,190.0,86.0,Santa Clara University,1920.0,San Francisco,California
74,74,Alex Hannum*,201.0,95.0,University of Southern California,1923.0,Los Angeles,California
117,117,John Mandic,193.0,92.0,Oregon State University,1919.0,Los Angeles,California
130,130,Vern Mikkelsen*,201.0,104.0,Hamline University,1928.0,Fresno,California
...,...,...,...,...,...,...,...,...
3845,3845,Marquese Chriss,208.0,105.0,University of Washington,1997.0,Sacramento,California
3861,3861,Jonathan Gibson,188.0,83.0,New Mexico State University,1987.0,West Covina,California
3890,3890,David Nwaba,193.0,94.0,"California Polytechnic State University, San L...",1993.0,Los Angeles,California
3894,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California
3908,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California

In [19]:
after_1970 = df['born'] > 1970
df[after_1970].loc[::,['Player','height','weight','born']]. head(10)

                 Player  height  weight    born
2217       Harold Miner   196.0    95.0  1971.0
2220       Tracy Murray   201.0   102.0  1971.0
2222  Shaquille O'Neal*   216.0   147.0  1972.0
2246          Vin Baker   211.0   105.0  1971.0
2248      Shawn Bradley   229.0   106.0  1972.0
2249         P.J. Brown   229.0   106.0  1972.0
2250        Evers Burns   203.0   117.0  1971.0
2251      Scott Burrell   201.0    98.0  1971.0
2254    Calbert Cheaney   201.0    94.0  1971.0
2258       Terry Dehere   188.0    86.0  1971.0