In [36]:
import pandas as pd
import numpy as np

file = 'Empresas_dataset.xlsx'
df = pd.read_excel(file)
df.head(5)

,Empresa,Ticker,Preço Atual (USD),Variação (%),Volume Médio (Mil),P/E Ratio,Setor
0,Alpha Corp,ACOR,50.25,0.5,300,15.2,Tecnologia
1,Beta Industries,BIND,35.80,-0.8,150,10.5,Manufatura
2,Gamma Innovations,GINN,65.40,1.2,200,18.3,Saúde
3,Delta Tech,DELT,80.15,0.3,400,22.8,Tecnologia
4,Epsilon Energy,ENE,45.60,-0.6,250,12.9,Energia

In [11]:
df.columns

Index(['Empresa', 'Ticker', 'Preço Atual (USD)', 'Variação (%)',
       'Volume Médio (Mil)', 'P/E Ratio', 'Setor'],
      dtype='object')

In [ ]:
pd.pivot_table(df, index = 'Ticker', values='Preço Atual (USD)' , aggfunc='sum')

        Preço Atual (USD)
Ticker
ACOR                50.25
BIND                35.80
CHIC                52.15
DELT               160.30
ENE                 45.60
ETAM               141.80
GINN                65.40
IOTA                80.40
KAP                 97.50
LLO                114.20
MUM                 84.60
NUP                151.00
OMEO                65.90
OMIO               137.60
PHIP                89.60
PPOW                95.80
PSIP                72.10
RHOR                79.20
SIG                106.50
TELC               121.40
THTR               124.60
UTIL               156.80
XIS                110.40
ZFDS               111.50

In [26]:
df['valor_total'] = df['Preço Atual (USD)'] * df['Volume Médio (Mil)']
df.head(3)

,Empresa,Ticker,Preço Atual (USD),Variação (%),Volume Médio (Mil),P/E Ratio,Setor,valor_total
0,Alpha Corp,ACOR,50.25,0.5,300,15.2,Tecnologia,15075.0
1,Beta Industries,BIND,35.80,-0.8,150,10.5,Manufatura,5370.0
2,Gamma Innovations,GINN,65.40,1.2,200,18.3,Saúde,13080.0

In [28]:
soma_qnt_valor = pd.pivot_table(df, index= 'Ticker', values= ['Preço Atual (USD)', 'valor_total'], aggfunc='sum')
soma_qnt_valor

        Preço Atual (USD)  valor_total
Ticker
ACOR                50.25      15075.0
BIND                35.80       5370.0
CHIC                52.15      14080.5
DELT               160.30      64120.0
ENE                 45.60      11400.0
ETAM               141.80      31196.0
GINN                65.40      13080.0
IOTA                80.40      25728.0
KAP                 97.50      18525.0
LLO                114.20      30834.0
MUM                 84.60      12690.0
NUP                151.00      52850.0
OMEO                65.90      25042.0
OMIO               137.60      57792.0
PHIP                89.60      18816.0
PPOW                95.80      27782.0
PSIP                72.10      24514.0
RHOR                79.20      14256.0
SIG                106.50      24495.0
TELC               121.40      38848.0
THTR               124.60      34888.0
UTIL               156.80      62720.0
XIS                110.40      30912.0
ZFDS               111.50      20070.0

In [33]:
soma_qnt_valor['pmedio'] = soma_qnt_valor['valor_total'] / soma_qnt_valor['Preço Atual (USD)']
soma_qnt_valor

        Preço Atual (USD)  valor_total  pmedio
Ticker
ACOR                50.25      15075.0   300.0
BIND                35.80       5370.0   150.0
CHIC                52.15      14080.5   270.0
DELT               160.30      64120.0   400.0
ENE                 45.60      11400.0   250.0
ETAM               141.80      31196.0   220.0
GINN                65.40      13080.0   200.0
IOTA                80.40      25728.0   320.0
KAP                 97.50      18525.0   190.0
LLO                114.20      30834.0   270.0
MUM                 84.60      12690.0   150.0
NUP                151.00      52850.0   350.0
OMEO                65.90      25042.0   380.0
OMIO               137.60      57792.0   420.0
PHIP                89.60      18816.0   210.0
PPOW                95.80      27782.0   290.0
PSIP                72.10      24514.0   340.0
RHOR                79.20      14256.0   180.0
SIG                106.50      24495.0   230.0
TELC               121.40      38848.0   320.0
THTR               124.60      34888.0   280.0
UTIL               156.80      62720.0   400.0
XIS                110.40      30912.0   280.0
ZFDS               111.50      20070.0   180.0

In [31]:
pd.pivot_table(df, columns='Ticker', values='Preço Atual (USD)' , aggfunc='sum')

Ticker,ACOR,BIND,CHIC,DELT,ENE,ETAM,GINN,IOTA,KAP,LLO,...,PHIP,PPOW,PSIP,RHOR,SIG,TELC,THTR,UTIL,XIS,ZFDS
Preço Atual (USD),50.25,35.8,52.15,160.3,45.6,141.8,65.4,80.4,97.5,114.2,...,89.6,95.8,72.1,79.2,106.5,121.4,124.6,156.8,110.4,111.5