# DesafioDesafio Olist: Mergulho Profundo em Dados de E-Commerce Brasileiro

**Exploração Inicial**

In [27]:
import pandas as pd

# Carrega algumas tabelas
orders = pd.read_csv('Dados/olist_orders_dataset.csv')
order_items = pd.read_csv('Dados/olist_order_items_dataset.csv')
products = pd.read_csv('Dados/olist_products_dataset.csv')
customers = pd.read_csv('Dados/olist_customers_dataset.csv')
category_translation = pd.read_csv('Dados/product_category_name_translation.csv')

# Salva para não precisar recarregar
%store orders order_items products customers category_translation

Stored 'orders' (DataFrame)
Stored 'order_items' (DataFrame)
Stored 'products' (DataFrame)
Stored 'customers' (DataFrame)
Stored 'category_translation' (DataFrame)

- Order Items

In [17]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [18]:
order_items.sample(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
52221,76dd6b675eeba81086553a3c272e0423,1,d1f8238b6028d483af2329cb63cc9bfd,1554a68530182680ad5c8b042c3ab563,2018-05-10 00:12:45,189.90,41.40
4825,0ae6247166276150abcb71aaa91b0498,1,554fc36c06624912230e7355ab7be734,1127b7f2594683f2510f1c2c834a486b,2017-06-01 02:30:23,37.55,25.63
15320,22f3a2b22f414d974640db425514794d,1,07fe9ffbb84b9d22610d79efb16e81a7,e84ad2127668df3aafc6b73531a0beb8,2018-08-10 13:45:18,65.00,17.39
86950,c578368509858a65535ce3962ee21be3,1,c50ca07e9e4db9ea5011f06802c0aea0,9b013e03b2ab786505a1d3b5c0756754,2018-08-07 20:23:58,19.49,12.80
22449,334366f2e22dfcecc6821c15209f0175,1,425a12d4dd8e5e7ba3be5c4157f1fafc,fa1c13f2614d7b5c4749cbc52fecda94,2017-03-08 23:30:19,189.00,15.49
95548,d8be9ae1b47e841991f6985619f70ddb,1,40c36dbe4fd510370d40e09ae7670a26,8444e55c1f13cd5c179851e5ca5ebd00,2018-04-19 23:50:20,108.90,14.84
43599,63154c299d1199262f60527437e156a5,2,97c57b8428f6b7a7597248a02938681d,17a053fcb14bd219540cbde0df490be0,2018-08-10 15:44:42,328.90,142.49
45000,6651400020b5bc201756cad655783aa1,1,00a0db09dc7c94d512ec51900141ed69,fa14641f57b655e933124a9ea49cd7a5,2018-02-09 14:10:50,49.99,15.10
4278,099d62f80912acec8ebfabeed29585cf,1,c6745a1ce132f8dc5f38829c6fb67eba,e9d99831abad74458942f21e16f33f92,2018-06-29 10:53:37,35.99,18.35
54132,7b07cef881924b566432e1343e5dba8a,2,c6548fa817cc7271747e6c6bd2461171,1caf283236cd69af44cbc09a0a1e7d32,2018-01-08 16:32:21,25.73,7.90

- Orders

In [19]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [20]:
orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
11352,34050aa3fee994fb448fd3d87028f094,0069f43bfc018147f03b7a0f64fa00bd,delivered,2018-07-19 15:51:58,2018-07-19 16:05:28,2018-07-20 13:16:00,2018-07-27 09:38:52,2018-08-13 00:00:00
46800,b08f7ce910570d89714767d4610943b0,a513a3299be4497003e220b158d68735,delivered,2018-03-08 17:17:45,2018-03-08 18:20:32,2018-03-09 20:11:54,2018-04-06 18:23:15,2018-03-28 00:00:00
61146,b7c0da6da0a4987fd0b793c77ebbb06a,f48021d46a7c5b0a77b16ea28981cfd8,delivered,2017-10-31 21:51:02,2017-10-31 22:06:03,2017-11-01 15:52:18,2017-11-09 23:46:45,2017-11-23 00:00:00
12327,178ad6d5050011f2f0e7b7e66d6f02c8,9877fcd27590eefc7315fa5469dfe2f3,delivered,2017-08-07 20:16:02,2017-08-08 20:25:18,2017-08-12 10:48:51,2017-08-18 18:53:47,2017-09-08 00:00:00
76631,4027aaf151a408af313fee7a5af64c5a,14ec0af04aab4398a904a77ac2e1c68b,delivered,2017-12-31 00:02:06,2017-12-31 00:13:48,2018-01-02 20:27:02,2018-01-09 18:15:29,2018-01-26 00:00:00
84641,251fe947dc87c3ac12965b12bd34f160,e45fc68e618340baf7ced09aa8e0f5f3,delivered,2018-05-09 16:09:45,2018-05-09 16:30:42,2018-05-10 10:25:00,2018-05-16 14:31:33,2018-05-30 00:00:00
76614,7e0b50d7996f3b774c21b38458c54d03,df14b61cc7c66d382984e0fb32c40971,delivered,2018-03-26 18:30:40,2018-03-26 18:47:22,2018-03-28 20:32:30,2018-04-04 15:54:54,2018-04-12 00:00:00
29310,dde2650c0fa0e73271dc339daf400ac9,e24afd292df4c36dca1a8e419dfc7bc0,delivered,2018-07-30 00:46:43,2018-07-30 00:55:25,2018-07-30 17:13:00,2018-08-03 18:21:53,2018-08-10 00:00:00
81738,b2cc014ee51b0ca758fa72abdc54d199,de15430f37f04581b26de5bcc7ba249d,delivered,2018-07-06 12:31:52,2018-07-06 12:51:06,2018-07-10 13:58:00,2018-07-18 21:42:05,2018-08-13 00:00:00
57738,e15a56fb22219e39b15a7c75987361e9,0b0681e989c43f272ef233e1a286b2b2,delivered,2017-08-19 11:42:34,2017-08-19 11:55:18,2017-08-23 14:28:20,2017-08-28 19:32:39,2017-09-19 00:00:00

- Products

In [21]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [22]:
products.sample(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
6215,15a8b28443e64b840cc27ee2491507d4,beleza_saude,59.0,458.0,1.0,750.0,20.0,20.0,20.0
879,44dc6124432da8482da2977dbfa88f59,beleza_saude,59.0,1343.0,2.0,150.0,16.0,13.0,11.0
32580,ca7966fa77959536468be3c6ce1f19e1,cama_mesa_banho,52.0,126.0,2.0,19500.0,25.0,60.0,55.0
23994,c76c5091f2e4b72771beb812a07ef131,consoles_games,52.0,233.0,2.0,300.0,18.0,7.0,20.0
26051,dfb1a850d59b126de9fa01dcde19b43d,brinquedos,49.0,949.0,3.0,600.0,20.0,25.0,25.0
7613,661bbdcbe54d141b50aeaf9d33384d34,brinquedos,38.0,1096.0,2.0,300.0,16.0,15.0,15.0
24663,530b2adc666f8f1553e3590543920a72,ferramentas_jardim,54.0,1313.0,2.0,800.0,20.0,20.0,20.0
23193,62ea5d617ff74ab3e446aa418e7f67ed,NaN,NaN,NaN,NaN,200.0,16.0,2.0,11.0
17947,12587360502d12268a9841080015d52a,relogios_presentes,47.0,716.0,2.0,200.0,16.0,12.0,12.0
604,0eb8e03d4ef83152c4642b606b5bbdec,moveis_decoracao,47.0,348.0,1.0,2900.0,40.0,10.0,35.0

- Customers

In [23]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [24]:
customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
66313,4308db2f3f1ce5f817e16184cd306817,d3f642cc48a40ef10805ad6f1faaaed9,11025,santos,SP
81162,c8601345ccaff528cbca46e04f74ff2b,e09e509936d44d03ec876c40b0f6dd3f,98802,santo angelo,RS
2200,d02958d0f6d506f6f18d837c8aa16268,7f95c43c439d2d15474b0cb283b4a0e6,13874,sao joao da boa vista,SP
45090,fb00fcec2e41b08e44dac5629abfed29,f0f8fdb82b298c54b772345315e19e49,37706,pocos de caldas,MG
57855,09c50d2e3af66a47ca1c6b4201c0da0f,b009823cfeee3095f86635d366ea8b69,37440,caxambu,MG
97326,512ab098fa4d12ef6885a8ccedc02eaf,fa9e894ac0b2378ba83156e9281caacc,69021,manaus,AM
33585,67de99df30be5012ce8bfd6501f3c8b4,96e5c1c79b1bc887c0c7e18b115fec6f,3251,sao paulo,SP
51443,3bd34d2695b29daf46c726ca65adaa76,2902aa119b0d5e66be473e52db5d52d6,65071,sao luis,MA
89682,957eb9ed2b71b5439f68a865a736de0d,a78e22cba17a2973cf70d283b4119b5a,88904,ararangua,SC
13574,b63f9ce4daa4f644ab9caa56c9b5c2c1,db1a6e0430bf36f278e03105fc48ebf3,11370,sao vicente,SP

- Category Translation

In [25]:
category_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [26]:
category_translation.sample(10)

            product_category_name   product_category_name_english
66                         flores                         flowers
6                      perfumaria                       perfumery
68                fraldas_higiene             diapers_and_hygiene
17    fashion_bolsas_e_acessorios        fashion_bags_accessories
48         livros_interesse_geral          books_general_interest
0                    beleza_saude                   health_beauty
19                 consoles_games                  consoles_games
31                   market_place                    market_place
44  industria_comercio_e_negocios  industry_commerce_and_business
67             artes_e_artesanato           arts_and_craftmanship